{% extends "C/base.html" %} {% load static %} {% block content %} {% load crispy_forms_tags %}

<style>
    #contatti {
        background-color: #70c3be;
        letter-spacing: 2px;
    }
    
    #contatti a {
        color: #fff;
        text-decoration: none;
    }
    
    @media (max-width: 575.98px) {
        #contatti {
            padding-bottom: 800px;
        }
        #contatti .maps iframe {
            width: 100%;
            height: 450px;
        }
    }
    
    @media (min-width: 576px) {
        #contatti {
            padding-bottom: 800px;
        }
        #contatti .maps iframe {
            width: 100%;
            height: 450px;
        }
    }
    
    @media (min-width: 768px) {
        #contatti {
            padding-bottom: 350px;
        }
        #contatti .maps iframe {
            width: 100%;
            height: 850px;
        }
    }
    
    @media (min-width: 992px) {
        #contatti {
            padding-bottom: 200px;
        }
        #contatti .maps iframe {
            width: 100%;
            height: 700px;
        }
    }
    
    #author a {
        color: #fff;
        text-decoration: none;
    }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

<br>
<div class="container animated fadeIn bg-info">
    <h4 class="p-3 mb-2 bg-info text-white text-center">CONTACT DETAILES</h4>
    <div class="row">
        <div class="col-sm-4">

            <h1 class="header-title text-success"> Contact Form</h1>
            <hr>

            <form action="" method="POST">
                {% csrf_token %} {{fm|crispy}}
                <button class="btn btn-group">

             <input type="submit" value="save" class="btn btn-warning"   onclick="fun();">
             <input type="reset" value="Cancel" class="btn btn-info">
         </button>

            </form>

        </div>

        <div class="col-sm-8">


            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d63306757.2593262!2d12.512964399999992!3d14.430746900000011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3a4cf564d9e7fd65%3A0xf622dc6b11507edf!2sC2J7%2B75W%20Tennis%20Court%2C%20Unnamed%20Road%2C%20Nellore%2C%20Andhra%20Pradesh%20524003!3m2!1d14.430758299999999!2d80.0130564!5e0!3m2!1sen!2sin!4v1652983814906!5m2!1sen!2sin"
                width="650" height="650" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>
</div>

<br>
<br>









<div class="container">

    <div class="row">


        <div class="col-sm-12">
            <div class="card">
                <h4 class="table table-bordered  text-center text-white bg-dark table-striped ">USER CONTACT ENQUERY DETAILES</h4>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">SR NO</th>
                            <th scope="col">NAME</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">MOBILE NUMBER</th>
                            <th scope="col">QUERY MESSAGE</th>
                        </tr>
                    </thead>
                    <tbody>



                        {% for i in stu %}
                        <tr>


                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.mobile_number}}</td>
                            <td>{{i.address}}</td>



                        </tr>

                        {% endfor %}
                    </tbody>
                </table>




            </div>
        </div>
    </div>
</div>
</div>




<script type=" text/javascript ">
    function fun() {
        alert("Your Contact Detailes Has Been Saved ");
    }
</script>

{% endblock %}