<br>

<div class="container shadow-md bg-dark ">

    <div class="container">
        <div class="card bg-primary">
            <h3 class="text-center">© 2022&nbsp;TENNIS CLUB MANAGMENT SYSTEM. All rights reserved</h3>
        </div>
    </div>
    <div class="row text-white">
        <div class="col-sm-4  ">
            <a href="#" class="text-white">Home</a  ><br>
            <a  href="#"   class="text-white" >About</a  ><br>
            <a  href="#"   class="text-white">About</a  ><br>
            <a  href="#"   class="text-white">Tennis</a  ><br>
            <a  href="#"   class="text-white">Contact Us</a  ><br>
        </div>

        <div class="col-sm-4">
            <a href="#"   class="text-white" >Terms & Conditions
             Privacy Notice</a  ><br>
            <a  href="#"   class="text-white"> Social Media</a  ><br>
            <a  href="#"   class="text-white">Policy Official Partners </a  ><br>
            <a  href="#"   class="text-white">Contact Newsletters </a  >
        </div>

       
    </div>


</div>
<br>