{% extends 'C/base.html' %} {% load static %} {% block content %}

<div class="container">
    <div class="row">

        <div class="col-sm-4 mx-5">


            <img src="{% static 'images/two.jpg' %}" class="border border-warning img-fluid mt-5 border-primary rounded-circle" alt="Responsive image">

            <form action="" method="post" novalidate>
                {% csrf_token %} {% for fm in form %}


                <div class="form-group">
                    {{fm.label_tag}} {{fm}} <small class="text-warning">{{fm.errors|striptags}}</small>
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Login"> {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %} {% endif %}

                <a href="{% url 'signup' %}" onclick="navigation(event)" class="alert alert-info">Not a registered user? Register</a>
            </form>
        </div>

        <div class="col-sm-6" style="margin-top: 360px;">
            <h1 class="text-center text-dark">TENNIS CLUB USER LOGIN CREDENTIAL
            </h1>
        </div>
    </div>
</div>

{% endblock content %}